<html>
    <head></head>
<form action = "http://localhost:5000/add" method = "POST">
    <div class="input-group">
        <label>Performers</label>
        <textarea name="performers" rows="2" cols="100" wrap="soft"></textarea>
    </div>
    <div class="input-group">
        <label>Full Title</label>
        <textarea name="title" rows="2" cols="100" wrap="soft"></textarea>
    </div>
    <p>Date<input type="datetime-local" name="event_date"/></p>
    <p>Doors <input type="text" name = "doors" /></p>
    <p>Show <input type="text" name = "show" /></p>
    <p>Ages<SELECT name="ages">
        <OPTION value='all ages'>all ages</option>
        <OPTION value='21+'>21+</option>
        <OPTION value=''>doesn't say</option>
    </SELECT>
    </p>
    <p>Price <input type = "text" name = "price" /></p>
    <p><div class="input-group"><label>Tickets Link</label><textarea name="tickets_link" rows="1" cols="150" wrap="soft"></textarea></div></p>
    <p><div class="input-group"><label>img link</label><textarea name="img_link" rows="1" cols="150" wrap="soft"></textarea></div></p>
    <p>Comments <input type = "text" name = "comments" /></p>  
    <p>Venue<SELECT id="venue-select" name="venue">    
    {% for value in venue_names %} 
        <OPTION value='{"venue": "{{ value.venue }}","link": "{{ value.link }}", "logo image": "{{ value["logo image"] }}"}'>{{ value.venue }}</option>
    {% endfor %}
        <OPTION value=''>**New Entry**</option>
        </SELECT>
    </p>
    <div id="new-venue-input" style="display: none;">
        <h3>New Venue Details</h3>
        <p><div class="input-group"><label>venue text</label><textarea name="venue text" rows="1" cols="150" wrap="soft"></textarea></div></p>
        <p><div class="input-group"><label>venue url</label><textarea name="venue url" rows="1" cols="150" wrap="soft"></textarea></div></p>
        <p><div class="input-group"><label>logo image</label><textarea name="logo image" rows="1" cols="150" wrap="soft"></textarea></div></p>
        <p><div class="input-group"><label>building image</label><textarea name="building image" rows="1" cols="150" wrap="soft"></textarea></div></p>
        <p><div class="input-group"><label>instagram link</label><textarea name="instagram" rows="1" cols="150" wrap="soft"></textarea></div></p>
        <p><div class="input-group"><label>facebook</label><textarea name="facebook" rows="1" cols="150" wrap="soft"></textarea></div></p>
        <p><div class="input-group"><label>city</label><textarea name="city" rows="1" cols="150" wrap="soft"></textarea></div></p>
        <p><div class="input-group"><label>neighborhood</label><textarea name="neighborhood" rows="1" cols="150" wrap="soft"></textarea></div></p>
        <p><div class="input-group"><label>address</label><textarea name="address" rows="1" cols="150" wrap="soft"></textarea></div></p>
        <p><div class="input-group"><label>google map link</label><textarea name="google map link" rows="1" cols="150" wrap="soft"></textarea></div></p>
        <p><div class="input-group"><label>phone</label><textarea name="phone" rows="1" cols="150" wrap="soft"></textarea></div></p>
        <p><div class="input-group"><label>comments</label><textarea name="comments" rows="1" cols="150" wrap="soft"></textarea></div></p>
    </div>
    <p><input type="submit" value = "submit"/></p>
 </form>
 <script>
    var elem = document.getElementById("venue-select");
    elem.onchange = function(){
        var hiddenDiv = document.getElementById("new-venue-input");
        hiddenDiv.style.display = (this.value == "") ? "block":"none";
    };
</script>
</html>