<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} Web Application</title>
    <meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width"/>
	<link href="https://fonts.googleapis.com/css?family=Frijole|Open+Sans|Permanent+Marker&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="sac.css" type="text/css" media="screen" charset="utf-8"/>
	<!-- Add fancybox3 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
	<script src="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
	<meta name = 'description' content = 'All Shows upcoming music shows listings. Watch music videos and discover new Sacramento artists and support the Sactown music scene. Catch an upcoming touring artist on their stop in Sac.' />
</head>
<body>
<div class="page">
	<header class="hero">
		<nav class="hero__navbar">
			<a class = "hero__link active" href="/">Shows</a>
			<a class= "hero__link" href="https://www.instagram.com/sactownlowdown/" target="_blank">Social</a>
			<a class="hero__link" href="/submit" target="_blank">Submit A Show</a>
			<a class="hero__link" href="/sac-locals">Local</a>
		</nav>
		<div class="hero__title">Sactown Lowdown</div>
	</header>
	<div class="container">
		<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc8B0yFikW9o4O5GT2l1VJIVUzy6-IMNtqlt1jVn7I_mmNfVA/viewform?embedded=true" width="80%" height="1963" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
	</div>
	<div id="sidebar">
		<div class='timeline'> <a class="twitter-timeline" data-width="100%" data-height="600" data-theme="dark" data-link-color="#FAB81E" href="https://twitter.com/SactownLowdown?ref_src=twsrc%5Etfw">Tweets by SactownLowdown</a>
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
</div>
</body>
</html>