<!--just announced sidebar-->

<h2 class="sidebar__container__grid__list__title">Recently Added</h2>
<div class="sidebar__container_grid">
  <div class="sidebar__container_grid__col1">Wed, Apr 14 2021<br>
        
  Show:12:00pm<div class="image-container">
        <div class="image-card">
          <a data-fancybox="" href="https://theuniversityunion.com/uploads/images/ce_image_cache/uploads/images/unique/events/header-images/_framed/bP049Vky-1920-1080_720_405.png"><img class="w3-border sidebar__container_grid__image__thumbnail" style="padding: .1rem;" src="https://theuniversityunion.com/uploads/images/ce_image_cache/uploads/images/unique/events/header-images/_framed/bP049Vky-1920-1080_720_405.png" alt="performer thumbnail"></a>
        </div>
    </div> 
  </div>
  <div class="sidebar__container_grid__col2">Keef Haring (Live Stream)<br>Live Stream via Sac State Unique<br>
    
      free<br>
     
    
    <button class="sidebar__container_grid__more__info"><a href="/shows/WSfKiC2j46A">MORE INFO</a></button>
    <!--<button class="more-info"><a href="https://theuniversityunion.com/unique/event/keef-haring " target="_blank">MORE INFO</a></button>-->
  </div>
<div class="sidebar__container_grid__col1">Wed, Apr 14 2021<br>
    
  Show:08:00pm<div class="image-container">
        <div class="image-card">
          <a data-fancybox="" href="https://scontent.fsac1-1.fna.fbcdn.net/v/t1.6435-9/p843x403/170108524_3881209238653410_3218264890556980463_n.png?_nc_cat=111&amp;ccb=1-3&amp;_nc_sid=730e14&amp;_nc_ohc=dukr-dNBOucAX9pfTBU&amp;_nc_ht=scontent.fsac1-1.fna&amp;_nc_tp=30&amp;oh=3d91696d4e4c83659e796981d25a1600&amp;oe=6098979E"><img class="w3-border sidebar__container_grid__image__thumbnail" style="padding: .1rem;" src="https://scontent.fsac1-1.fna.fbcdn.net/v/t1.6435-9/p843x403/170108524_3881209238653410_3218264890556980463_n.png?_nc_cat=111&amp;ccb=1-3&amp;_nc_sid=730e14&amp;_nc_ohc=dukr-dNBOucAX9pfTBU&amp;_nc_ht=scontent.fsac1-1.fna&amp;_nc_tp=30&amp;oh=3d91696d4e4c83659e796981d25a1600&amp;oe=6098979E" alt="performer thumbnail"></a>
        </div>
    </div> 
  </div>
  <div class="sidebar__container_grid__col2">open mic<br>bar 101 roseville<br>
    
      free<br>
     
    
      all ages<br>
    
    <button class="sidebar__container_grid__more__info"><a href="/shows/YogVgqr7aHr">MORE INFO</a></button>
    <!--<button class="more-info"><a href="https://www.instagram.com/p/CNX9jbmJbMl/ " target="_blank">MORE INFO</a></button>-->
  </div>